.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* filmas */

.filmuTevas{
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  justify-content: center;
  /*opacity: 0;*/
  /*pointer-events: none;*/
  /*overflow: hidden;/**/
  /*display: none;/**/
}

.filmuTevas img {
  height: 500px ;
  width: 400px ;

}

.vaikasMazas {
  width: 30%;
}

.vaikasDidelis{
    width: 50%;
}

.filmuVaikas {
  /*display: grid;*/
  text-align: left;
}

.reitingai{
  width: 200px;
  height: 100px;
  display: flex;
  margin: 0px !important;
  gap: 15px;
}

.star{
  height: 100px;
align-self: center;
}
.vote{
  display: grid;
}
.vote2{
  display: flex;
  height: 35px;
}

.vote2 > h4 {
  padding-top: 8px;
}




.searchInputs {
  /*width: 100vw;*/
  /*display: flex;*/
  padding: 30px 0px;
  background-color: #b81d24;
  
}

.search{
  position: relative;
}

.search input {
  background-color: #e41d27;
  /*border: solid 20px #491db8;*/
  color: #f5f5f1;
  font-size: 20px;
  /*padding: 15px 15px 15px 90px;*/
  padding: 15px 0px 15px 0px;
  height: 30px;
  width: 90%;
  border: 1px solid #d9484e;
  margin-left: 0px;
  
}

input {
  margin-left: 50px;
}


.searchIcon {
  position: absolute;
  display: flex;
  justify-content: end;
  top: 50px;
  right: 8%;
  margin-right: 1px;
}

.movie {
  position: absolute;
  top: 40px;
  left: 6%; 
  margin-left: 1px;
}


input:focus {
  outline: none;
}

.dataResult {

  
  margin-top: -20px;
  margin-left: 5%;

  width: 90%;
  height: auto;
  background-color: #f5f5f1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 114px;
  cursor: pointer;
}


.dataResult .dataItem {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

.dataItem2{
  margin: 0px 30px;
}

.dataItem2:hover {
  background-color: #b81d24;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 30px;
}
.dataItem2 :hover p {
   color: #f5f5f1 ;
}

#clearBtn {
  cursor: pointer;
}
@media (max-width: 850px) {
  .filmuTevas{
    display: flex;
    flex-direction: column;
  }

  .vaikasMazas{
   width: 90%;
    align-self: center;
  }
  .vaikasDidelis{
    min-width: 90%;
    align-self: center;
  }


  .dataResult {
    margin-right: 0px;
    
  }

  .dataItem{
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .dataResult .dataItem  {
    height: 90px;

  }

  .dataItem p {
    margin-left: 0px;
    margin-top: -18px;
    margin-bottom: -20px;
  }

  .dataItem h3{
    margin-top: 0px;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .dataResult .dataItem  {
    height: 80px;
    font-size: 15px;

  }

  .dataItem {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .dataItem h3{
    text-align: left;
  }

  .dataItem p {
    margin-left: 0px;
    margin-top: -18px;
    margin-bottom: -40px !important;
  }

}
